.fixedNav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.logoName {
    display: flex;
    align-items: center;
}

.logoName h1 {
    font-weight: 700;
}

.navLinks {
    display: flex;
    justify-content: space-between;
}

.navLinks li {
    padding: 1rem;
    font-weight: 500;
}

.contactNav {
    background-color: #a2d2ff;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.contactNav ul {
    display: flex;
    align-items: center;
}

.contactLink {
    padding: 0.5% 0%;
    width: 17rem;
}

i {
    padding-right: 2%;
}

.fab {
    width: 1rem;
    margin-right: 1rem;
    background-color: white;
    padding: 0.3rem;
    border-radius: 50%;
    
}

