.fixedNav {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #1d1d1f;
    color: #f5f5f7
}

.logoName {
    display: flex;
    align-items: center;
}

.logoName h1 {
    font-weight: 700;
}

.navLinks {
    display: flex;
    justify-content: space-between;
}

.navLinks li {
    padding: 1rem;
    font-weight: 500;
}

