.fixedNav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    position: fixed;
    top: 1;
    z-index: 10;
    background-color: white;
  }

.navLinks {
    display: flex;
    justify-content: space-between;
}

.navLinks li {
    padding: 1rem;
    font-weight: 500;
}

.contactNav {
    background-color: #a2d2ff;
}

