h1 {
  font-weight: 700;
  font-size: 5rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fbfbfd;
}

.main {
  height: 100vh;
}

.one {
    height: 100vh;
    background-color: #70e000;
}
  
.one h2 {
  font-weight: 900;
  font-size: 1.5rem;
}
  
.two {
    height: 100vh;
    width: 100%;
    background-image: url("../img/averyharper2.jpg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.two h1 {
  margin: 0 0 5% 5%;
  color: #fbfbfd;
}

.three {
  height: 100vh;
  background-image: url("../img/Deskwork.jpg");
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.three h1 {
  background-color: white;
  padding: 2%;
  border-radius: 1rem;
  margin-right: 2%;
}

.contentContainer {
    display: flex;
    align-items: center;
    margin: 0 20rem;
}

/* .child {
  transform: translateY(2in);
  opacity: 1;
} */

.four {
    height: 100vh;
    background-color: #BDE0FE;
}
.five {
    height: 100vh;
    background-color: #A2D2FF;
}
.six {
    height: 100vh;
    background-color: #cdb4db;
}
.seven {
    height: 100vh;
    background-color: #FFC8DD;
}
.eight {
    height: 100vh;
    background-color: #FFAFCC;
}