h1 {
  font-weight: 700;
  font-size: 5rem;
}

p {
  font-size: 2rem;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fbfbfd;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
  height: 100vh;
}

.one {
  background-image: url("../img/lightbulb.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbfbfd;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

.one div {
  margin-top: 5rem;
  margin-left: 5rem;
}
  
.one h2 {
  font-weight: 900;
  font-size: 5rem;
}
  
.two {
    width: 100%;
    background-image: url("../img/averyharper2.jpg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
}

.textBox {
  background-color: white;
  padding: 1%;
  border-radius: 1rem;
  color: black;
  margin-bottom: 5rem;
}

.three {
  background-image: url("../img/Deskwork.jpg");
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.contentContainer {
    display: flex;
    align-items: center;
    margin: 0 20rem;
}


@media (max-width: 1400px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
}

@media only screen and (orientation: portrait) {
  .two {
    width: 100%;
    background-image: url("../img/keaganportrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .three {
    background-image: url("../img/portraitDesk.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
  }
  .textBox {
    margin-bottom: 7rem;
  }
}

@media (max-width: 660px) and (orientation: portrait) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (max-width: 410px) and (orientation: portrait) {
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
}