h1 {
  font-weight: 700;
  font-size: 5rem;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fbfbfd;
}

.main {
  height: 100vh;
}

.one {
    height: 100vh;
    background-color: #70e000;
}
  
.one h2 {
  font-weight: 900;
  font-size: 5rem;
}
  
.two {
    width: 100%;
    background-image: url("../img/averyharper2.jpg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.two h1 {
  margin: 0 0 5% 5%;
  color: #fbfbfd;
}

.three {
  background-image: url("../img/Deskwork.jpg");
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.three h1 {
  background-color: white;
  padding: 2%;
  border-radius: 1rem;
  margin-right: 2%;
}

.contentContainer {
    display: flex;
    align-items: center;
    margin: 0 20rem;
}


@media (max-width: 1400px) {
  .two h1 {
    margin: 0 0 10% 5%;
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  .two h1 {
    margin: 0 0 10% 8%;
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}