.formContainer {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

.form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: fit-content;
}

.form h2 {
    font-size: 4rem;
    font-weight: 700;
}

.label {
    display: flex;
    flex-flow: column;
    text-align: left;
    
}

.label p {
    color: #666666;
}

.nameLabel {
    display: flex;
    flex-flow: row;
    text-align: left;
}

.inputField {
    margin: 2% 0;
    border: #d3d3d3 solid 1px;
    border-radius: 5px;
    padding: 6% 4%;
    width: 100%;
}

.lastName {
    margin-left: 2%; 
}

@media (max-width: 768px){
    .nameLabel {
        flex-flow: column;
    }
    .lastName {
        margin-left: 0;
    }
    .form h2 {
        font-size: 3rem;
    }
}

@media (max-width: 600px){
    .form h2 {
        font-size: 2rem;
    }
}